@import url("https://fonts.googleapis.com/css?family=Muli:300,400,400i,600,700");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

$primary-color: #4E342E;
$secondary-color: #ffc107;
$third-color: #3E2723;
$font-primary: "Muli", sans-serif;
$font-secondary: "Open Sans", sans-serif;
$font-third: "Roboto", sans-serif;
$font-body: 1rem;

// TULISAN

h1, h2, h3, h4, h5, h6 {
    font-family: $font-secondary;
    margin: 10px 0;
}

body, p {
    font-family: $font-primary;
    font-weight: 400;
    font-size: $font-body;
}

a {
    color: $primary-color;
}

a:hover {
    text-decoration: none;
    color:$secondary-color !important;
}

.btn-warning:hover{
    color: #212529 !important;
}

.heading-coklat {
    color: $primary-color;
    font-weight: 600;
}

.heading-putih {
    color: white;
    font-weight: 600;
}

.judul-promo, .produk-penjual {
    vertical-align: baseline;
    line-height: 0px;
}

.nama-barang {
    color: $primary-color;
    font-weight: 600;
    font-size: 1.25rem;
}

.nama-barang-kecil {
    color: $primary-color;
    font-weight: 600;
    font-size: 1rem;
}

.harga-asli {
    color: gray;
    font-size: 0.75rem;
}

.harga-promo {
    color: red;
    font-size: 1rem;
    font-weight: 500;
}

.harga-promo-kecil {
    color: red;
    font-size: 0.9rem;
    font-weight: 500;
}

.kota-penjual, .nama-penjual, .tanggal-komentar {
    color: grey;
    font-size: 0.85rem;
    font-weight: 300;
}

.kota-penjual-kecil, .nama-penjual-kecil{
    color: grey;
    font-size: 0.7rem;
    font-weight: 300;
}

.other-product {
    margin-top: 40px;
    margin-bottom: 100px;
}

.produk-lain-bawah {
    .card-body{
        padding: 0.75rem 1.25rem 1.25rem 1.25rem;
    }
    padding: 2%;
    cursor: pointer;
}

.produk-all {
    .card-body{
        padding: 0 1.25rem 1.25rem 1.25rem;
    }

    padding: 0 1% 2% 1%;
    border-radius: 5%;
    cursor: pointer;
}

.page-link {
    color: $primary-color;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: $primary-color;
    border-color:$primary-color;
  }

.footer {
    margin-top: 100px;
    text-align: left;
    color: white;
    background-color: $primary-color;
    bottom: 0;
    padding-top: 12px;

    a {
        color: white;
    }

    .info {
        margin: 10px 0;
    }

    .heading-footer {
        color: #BCAAA4;
    }

    .copyright {
        text-align: center;
        margin-top: 10px;
        padding: 10px 0;
        background-color: $third-color;
        bottom: 0;
    }
}



// HEADER - NAVBAR

.navbar {
  padding: 10px 10px;
  text-align: center;
  vertical-align: middle;
  box-shadow: 0px 1px 2px $primary-color;
}

.searchbar {
  width: 100%;
}

.cart {
  width: 110px;
  text-align: right;
}

/* CUSTOMIZE THE CAROUSEL
  -------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 0%;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  padding-left: 20px;
  padding-right: 20px;
  bottom: 5%;
  z-index: 10;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;

  .btn {
      text-shadow: none;
  }
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 50vh;
  background-color: #777;
}
.carousel-item > img {
  position: absolute;
  filter: sepia(20%);
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.carousel {
    padding-top: 80px;
}

.promo, .newArrival, .allCategories {
    margin-top: 50px;
}

.gambar-kategori {
    width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 3px 6px RGBA(0,0,0,.16);
    margin: 5% 0;
    cursor: pointer;
}

.gambar-produk {
    position:relative;
    overflow:hidden;
    border-bottom: 1px solid RGBA(0,0,0,.16);
    border-radius: 5px;
    margin-bottom: 5%;
    padding-bottom:100%;

    img {
        width: 100%;
        object-fit: contain;
        position: absolute;
    }
}

.barang, .contact-us {
    margin-top: 50px;
}

.lokasi {
    padding: 10px 10px;
    color: $primary-color;
    background-color: white !important;
    font-weight: 600;
    box-shadow: 0 3px 6px RGBA(0,0,0,.16);
    margin-bottom: 50px;
}

.nav-samping{
    .card-body{
        padding: 0 1.25rem;
    }

    hr{
        margin: 5px 0;
    }
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: $primary-color;
}

.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: $primary-color;
  }

.produk{
    margin-top: 50px;

    .gambar-lain {
        position: relative;
        overflow: hidden;
        margin-bottom: 20%;
        padding-bottom: 100%;
        cursor: pointer;

        img {
            width: 100%;
            object-fit: cover;
            position: absolute;
            filter: blur(1px);
            -webkit-filter: blur(1px);
        }
    }

    .keterangan {
        padding: 0 20px;
    }
}

.profil-user, .seller, .admin, .transaksi {
    margin-top: 180px;
}

.deskripsi-depan {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 15;
    -webkit-box-orient: vertical;
}

.flip-container {
	perspective: 1000px;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 100%;
    height: 540px;
    margin-bottom: 10%;
}

/* flip speed goes here */
.flipper {
	transition: 1s;
	transform-style: preserve-3d;
    position: relative;
    .card-body{
        padding: 0.75rem 1.25rem 1.25rem 1.25rem;
    }
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
    transform: rotateY(0deg);
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 5px;
    img {
        border-radius: 5px;
        width: 100%;
        max-height: 400px;
        object-fit: cover;
    }
}

/* back, initially hidden pane */
.back {
    padding: 10%;
    transform: rotateY(180deg);
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 5px;
}

.kategori-barang{
    margin-top: 80px;
    position: relative;
    text-align: center;
    color: white;

    img{
        width: 100%;
        height: 30vh;
        object-fit: cover;
    }
}

.judul-kategori {
    font-size: 3rem;
    font-weight: bold;
    color: white;
    position: absolute;
    top: 10vh;
    left: 20vw;
}

.nav-left{
    position: -webkit-sticky;
    position: sticky;
    top: 120px;
}

.tabel-transaksi tr, .tabel-transaksi td{
    padding: 5px 10px;
}

.tabel-transaksi th{
    font-family: $font-secondary;
    color: $primary-color;
}

@media screen and (max-width: 1199px) {
    .flip-container, .front, .back {
        width: 100%;
        height: 480px;
    }
}

@media screen and (max-width: 991px) {
    .flip-container, .front, .back {
        width: 100%;
        height: 420px;
    }

    .deskripsi-depan {
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 9;
        -webkit-box-orient: vertical;
    }
}

@media screen and (max-width: 767px) {
    .searchbar {
        margin-top: 15px;
        margin-bottom: 15px;
    }
  
    h1 {
        font-size: 2rem;
    }

    .flip-container, .front, .back {
        width: 100%;
        height: 440px;
    }

    .deskripsi-depan {
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 12;
        -webkit-box-orient: vertical;
    }
}

@media screen and (max-height: 639px) {
    .carousel{
        display: none;
    }

    .imgProfile{
        width: 50%;
    }
}